$blue: #B0E2FF;

img {
  width: 200px;
  height: 200 px;
}

.box {
  background: $blue;
  text-align: center;
  box-shadow: 5px 5px 5px #888888;
  margin: 40px 80px;

}

.box:hover {
  box-shadow: 10px 10px 5px #888888;
}
